* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --gray-900: #BEBBBB
  --gray-500: #2F243A;
  --gray-100: #2F243A
  --red-500: #e23b62;
  --gray-300:#726c6c;
}

body {
  background-color: var(--gray-100);
  color: var(--gray-100);
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
}

h1 {
font-family: Courier;
font-weight: 100;
font-size: 30px;;
color: #DB8A74;
}
ul {
  font-family: ;
  list-style: none;
  padding: 0;
}
