.nav {
    display: flex;
  }
  
  .nav__item {
    flex-grow: 1;
  }
  
  .nav__link {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1rem 2rem;
    color: var(--gray-500);
  }
  
  .nav__link--active {
    
    background-color: var(--gray-900);
    color: var(--gray-500);
  }